@import url("/bower_components/components-font-awesome/css/font-awesome.css");

/*
 * TODO: Get a designer to write this stylesheet out properly instead of all this
 * absolute positioning hackery
 */

.image-viewer-container {
	position: fixed;
	display: block;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: rgba(64,64,64, 0.8);
	pointer-events: none;
	opacity: 0;
	transition: opacity 400ms ease;
}

.image-viewer-container.show {
	pointer-events: auto;
	opacity: 1;
}

.image-viewer-dialog {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	margin: 40px;
	padding: 20px;
	background-color: #111;
	border-radius: 40px;
	border: 1px solid #000;
}

.image-viewer-close-button,
.image-viewer-prev-button,
.image-viewer-next-button {
	background: #666;
	box-sizing: border-box;
	position: absolute;
	display: block;
	cursor: hand;
	cursor: pointer;
	color: #000;
}

.image-viewer-close-button:hover,
.image-viewer-prev-button:hover,
.image-viewer-next-button:hover {
	color: #aaa;
}

.image-viewer-close-button {
	right: 45px;
	top: 45px;
	width: 35px;
	height: 35px;
	font-family: FontAwesome;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 5px;
	font-style: sans-serif;
	font-size: 21px;
	line-height: 21px;
}

.image-viewer-close-button:before {
	content: '\f00d';
	position: relative;
	left: 7px;
	top: 7px;
}

.image-viewer-close-button:hover {
	color: #aaa;
}


.image-viewer-prev-button,
.image-viewer-next-button {
	box-sizing: border-box;
	position: absolute;
	display: block;
	top: 47%;
	width: 35px;
	height: 63px;
	line-height: 63px;
	padding: 0 7px;
	color: #000;
	background-color: #666;
	cursor: hand;
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 42px;
	vertical-align: middle;
}

.image-viewer-prev-button:hover,
.image-viewer-next-button:hover {
	color: #aaa;
}

.image-viewer-prev-button {
	left: 45px;
	border-top-left-radius: 21px 28px;
	border-bottom-left-radius: 21px 28px;
}

.image-viewer-prev-button:before {
	content: '\f100';
	text-align: right;
}

.image-viewer-next-button {
	right: 45px;
	border-top-right-radius: 21px 28px;
	border-bottom-right-radius: 21px 28px;
}

.image-viewer-next-button:before {
	content: '\f101';
	text-align: left;
}

.image-viewer-image-low {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 40px;
	top: 40px;
	right: 40px;
	bottom: 40px;
	border: 0;
	z-index: 1;
}

.image-viewer-image-high {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 40px;
	top: 40px;
	right: 40px;
	bottom: 40px;
	border: 0;
	z-index: 2;
}
