/* @import url("bower_components/components-font-awesome/css/font-awesome.css"); */

/* Mark K Cowan & Maret Kruve */

/*
 * When the image-viewer is bound to an image (or a set of images), then those
 * images have the image-viewer-bound classw added to them.
 *
 * The viewer itself has the following class structure:
 *
 *   +-image-viewer-container
 *       |  [full-window container, may darken/lighten/block the page content]
 *       |
 *       +-image-viewer-dialog
 *       |   |  [dialog for image viewer]
 *       |   |
 *       |   +-image-viewer-layers
 *       |       |  [container for image viewer layers]
 *       |       |
 *       |       +-image-viewer-image
 *       |       | image-viewer-image-low
 *       |       |      [low-resolution image]
 *       |       |
 *       |       +-image-viewer-image
 *       |         image-viewer-image-high
 *       |              [high-resolution image]
 *       |
 *       +-image-viewer-button
 *       | image-viewer-button-close
 *       |      [close button]
 *       |
 *       +-image-viewer-button
 *       | image-viewer-button-nav
 *       | image-viewer-button-prev
 *       |      [prev image button]
 *       |
 *       +-image-viewer-button
 *         image-viewer-button-nav
 *         image-viewer-button-next
 *              [next image button]
 *
 * The buttons are in the -container rather than the -dialog because I was lazy
 * rather than putting them within the dialog and positioning them relative to
 * its boundaries.  They should be moved inside the -dialog.  To do this, edit
 * around line 30 of the JS file and set defaultConfig.buttonParent to 'dialog'.
 *
 * That will result in the following class structure:
 *
 *   +-image-viewer-container
 *       |  [full-window container, may darken/lighten/block the page content]
 *       |
 *       +-image-viewer-dialog
 *           |  [dialog for image viewer]
 *           |
 *           +-image-viewer-button
 *           | image-viewer-button-close
 *           |      [close button]
 *           |
 *           +-image-viewer-button
 *           | image-viewer-button-nav
 *           | image-viewer-button-prev
 *           |      [prev image button]
 *           |
 *           +-image-viewer-button
 *           | image-viewer-button-nav
 *           | image-viewer-button-next
 *           |      [next image button]
 *           |
 *           +-image-viewer-layers
 *               |  [container for image viewer layers]
 *               |
 *               +-image-viewer-image
 *               | image-viewer-image-low
 *               |      [low-resolution image]
 *               |
 *               +-image-viewer-image
 *                 image-viewer-image-high
 *                      [high-resolution image]
 *    
 *
 * The two image-viewer-image- elements are layers, which must have the same
 * boundary co-ordinates and backround- properties (particularly size/position).
 *
 * The low-resolution image is taken from the <img> element, so displays without
 * delay since the browser has already loaded it.  The high-resolution image is
 * loaded dynamically and layered on top of the low-quality image, so that the
 * user can see a high-quality version of the image, but does get a blank box or
 * a "loading" spinner while the high-quality version is loading.
 *
 * For transparent images, the low-resolution image should be hidden after the
 * high-resolution one has loaded, this is a TODO item for the javascript file.
 */

.image-viewer-container {
	position: fixed;
	display: block;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: rgba(0,0,0, 0.95);
	pointer-events: none;
	opacity: 0;
	transition: opacity 400ms ease;
}

.image-viewer-container.show {
	pointer-events: auto;
	opacity: 1;
}

.image-viewer-dialog {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	margin: 20px;
}

.image-viewer-button {
	box-sizing: border-box;
	position: absolute;
	z-index: 999;
	display: block;
	color: #fff;
	opacity: 0.3;
	vertical-align: middle;
	text-align: center;
	text-shadow: 1px 1px 0px #000;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.image-viewer-button:hover {
	color: #fff;
	cursor: pointer;
	opacity: 1;
}

.image-viewer-button-close {
	right: 0px;
	top: 0px;
	font-family: FontAwesome;
	font-style: sans-serif;
	font-size: 25px;
	padding: 25px; /*may-be needs to be bigger, test on mobile if you can hit it good*/
}

.image-viewer-button-close:hover {
	font-size: 35px;
	color: #E02828;
}

.image-viewer-button-close:before {
	content: '\f00d';
	position: relative;
}


.image-viewer-button-nav {
	box-sizing: border-box;
	position: absolute;
	display: block;
	top: 50%;
	font-size: 50px;
	margin-top: -145px; /* = minus half of the height (including padding) */
	font-family: FontAwesome;
	padding: 120px 50px;
}

.image-viewer-button-prev {
	left: 0;
}

.image-viewer-button-prev:before {
	content: '\f104';
	text-align: right;
}

.image-viewer-button-next {
	right: 0;
}

.image-viewer-button-next:before {
	content: '\f105';
	text-align: left;
}
.image-viewer-button-nav:hover {
	font-size: 80px;
	margin-top: -160px;
}

.image-viewer-image {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
}

.image-viewer-image-low {
	z-index: 1;
}

.image-viewer-image-high {
	z-index: 2;
}
