@import url("/bower_components/components-font-awesome/css/font-awesome.css");

/*
 * TODO: Get a designer to write this stylesheet out properly instead of all this
 * absolute positioning hackery
 */

/*
 * When the image-viewer is bound to an image (or a set of images), then those
 * images have the image-viewer-bound classw added to them.
 *
 * The viewer itself has the following class structure:
 *
 *   +-image-viewer-container
 *       |  [full-window container, may darken/lighten/block the page content]
 *       |
 *       +-image-viewer-dialog
 *       |   |  [dialog for image viewer]
 *       |   |
 *       |   +-image-viewer-layers
 *       |       |  [container for image viewer layers]
 *       |       |
 *       |       +-image-viewer-image
 *       |       | image-viewer-image-low
 *       |       |      [low-resolution image]
 *       |       |
 *       |       +-image-viewer-image
 *       |         image-viewer-image-high
 *       |              [high-resolution image]
 *       |
 *       +-image-viewer-button
 *       | image-viewer-button-close
 *       |      [close button]
 *       |
 *       +-image-viewer-button
 *       | image-viewer-button-nav
 *       | image-viewer-button-prev
 *       |      [prev image button]
 *       |
 *       +-image-viewer-button
 *         image-viewer-button-nav
 *         image-viewer-button-next
 *              [next image button]
 *
 * The buttons are in the -container rather than the -dialog because I was lazy
 * rather than putting them within the dialog and positioning them relative to
 * its boundaries.  They should be moved inside the -dialog.  To do this, edit
 * around line 30 of the JS file and set defaultConfig.buttonParent to 'dialog'.
 *
 * That will result in the following class structure:
 *
 *   +-image-viewer-container
 *       |  [full-window container, may darken/lighten/block the page content]
 *       |
 *       +-image-viewer-dialog
 *           |  [dialog for image viewer]
 *           |
 *           +-image-viewer-button
 *           | image-viewer-button-close
 *           |      [close button]
 *           |
 *           +-image-viewer-button
 *           | image-viewer-button-nav
 *           | image-viewer-button-prev
 *           |      [prev image button]
 *           |
 *           +-image-viewer-button
 *           | image-viewer-button-nav
 *           | image-viewer-button-next
 *           |      [next image button]
 *           |
 *           +-image-viewer-layers
 *               |  [container for image viewer layers]
 *               |
 *               +-image-viewer-image
 *               | image-viewer-image-low
 *               |      [low-resolution image]
 *               |
 *               +-image-viewer-image
 *                 image-viewer-image-high
 *                      [high-resolution image]
 *    
 *
 * The two image-viewer-image- elements are layers, which must have the same
 * boundary co-ordinates and backround- properties (particularly size/position).
 *
 * The low-resolution image is taken from the <img> element, so displays without
 * delay since the browser has already loaded it.  The high-resolution image is
 * loaded dynamically and layered on top of the low-quality image, so that the
 * user can see a high-quality version of the image, but does get a blank box or
 * a "loading" spinner while the high-quality version is loading.
 *
 * For transparent images, the low-resolution image should be hidden after the
 * high-resolution one has loaded, this is a TODO item for the javascript file.
 */

.image-viewer-container {
	position: fixed;
	display: block;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: rgba(64,64,64, 0.8);
	pointer-events: none;
	opacity: 0;
	transition: opacity 400ms ease;
}

.image-viewer-container.show {
	pointer-events: auto;
	opacity: 1;
}

.image-viewer-dialog {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	margin: 40px;
	padding: 20px;
	background-color: #111;
	border-radius: 40px;
	border: 1px solid #000;
}

.image-viewer-button {
	background: #666;
	box-sizing: border-box;
	position: absolute;
	display: block;
	cursor: hand;
	cursor: pointer;
	color: #000;
}

.image-viewer-button:hover {
	color: #aaa;
}

.image-viewer-button-close {
	right: 45px;
	top: 45px;
	width: 35px;
	height: 35px;
	font-family: FontAwesome;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 5px;
	font-style: sans-serif;
	font-size: 21px;
	line-height: 21px;
}

.image-viewer-button-close:before {
	content: '\f00d';
	position: relative;
	left: 7px;
	top: 7px;
}

.image-viewer-button-close:hover {
	color: #aaa;
}


.image-viewer-button-nav {
	box-sizing: border-box;
	position: absolute;
	display: block;
	top: 47%;
	width: 35px;
	height: 63px;
	line-height: 63px;
	padding: 0 7px;
	color: #000;
	background-color: #666;
	cursor: hand;
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 42px;
	vertical-align: middle;
}

.image-viewer-button-nav:hover {
	color: #aaa;
}

.image-viewer-button-prev {
	left: 45px;
	border-top-left-radius: 21px 28px;
	border-bottom-left-radius: 21px 28px;
}

.image-viewer-button-prev:before {
	content: '\f100';
	text-align: right;
}

.image-viewer-button-next {
	right: 45px;
	border-top-right-radius: 21px 28px;
	border-bottom-right-radius: 21px 28px;
}

.image-viewer-button-next:before {
	content: '\f101';
	text-align: left;
}

.image-viewer-image {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left: 40px;
	top: 40px;
	right: 40px;
	bottom: 40px;
	border: 0;
}

.image-viewer-image-low {
	z-index: 1;
}

.image-viewer-image-high {
	z-index: 2;
}
